TIMESPEC TS11 = FROM:PADS:TO:FFS : 30 ns;
TIMESPEC TS12 = FROM:FFS:TO:PADS : 10 ns;

NET CLK							LOC = J4  | IOSTANDARD = LVTTL | PERIOD = 31.25ns; # 32.00 MHz oscillator

//PORTA Location
NET CAM_DATA<0>				LOC = "E7"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<1>				LOC = "C8"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<2>				LOC = "D8"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<3>				LOC = "E8"   | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<4>				LOC = "D9"   | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<5>				LOC = "A10"   | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<6>				LOC = "B10"   | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_DATA<7>				LOC = "C10"   | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_PCLK					LOC = "E10"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | TNM_NET = TS11; 

//PORTB Location
NET RESETN						LOC = "E11"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_RESET					LOC = "D14"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ; 
NET CAM_XCLK					LOC = "D12"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | PERIOD = 41.6ns; # 24Mhz
NET CAM_HREF					LOC = "E12"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | TNM_NET = TS11; 
NET CAM_VSYNC					LOC = "E13"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST | TNM_NET = TS11; 
NET CAM_SIOC					LOC = "F13"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW | PULLUP; 
NET CAM_SIOD					LOC = "F12"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW | PULLUP; 
# LEDs
NET "LED<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LED<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;


NET TMDSp_clock	 	LOC="B14" | IOSTANDARD=TMDS_33 ;
NET TMDSn_clock	 	LOC="A14" | IOSTANDARD=TMDS_33 ;
NET TMDSp(0)         LOC="C13" | IOSTANDARD=TMDS_33 ;
NET TMDSp(1)         LOC="B12" | IOSTANDARD=TMDS_33 ;
NET TMDSp(2)         LOC="C11" | IOSTANDARD=TMDS_33 ;
NET TMDSn(0)         LOC="A13" | IOSTANDARD=TMDS_33 ;
NET TMDSn(1)         LOC="A12" | IOSTANDARD=TMDS_33 ;
NET TMDSn(2)         LOC="A11" | IOSTANDARD=TMDS_33 ;

